{% extends 'base.html' %}
{% load static %}
{% load digit_filter %}

{% block title %}
    مخزن ها
{% endblock %}


{% block content %}
    <div class="card bg-info text-center">
        <div class="card-body">
            <h4 class="card-title">صحفه اصلی</h4>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>نام مخزن</th>
            <th>موجودی</th>
            <th>عملیات</th>

        </tr>
        </thead>
        <tbody>
        {% for repository in repositories %}
            <tr>
                <td>{{ repository.name }}</td>
                <td>{{ repository.amount|number_format }}</td>
                <td>
                    <a class="btn btn-danger" href="{% url 'del_repository' repository.id %}">حذف</a>
                    <a class="btn btn-warning" href="{% url 'detail_repository' repository.id %}">جزیات</a>
                    <a class="btn btn-primary" href="{% url 'update_repository' repository.id %}">ویرایش</a>
                </td>
            </tr>
        {% endfor %}

        <thead>
        <tr>
            <th>جمع</th>
            <th>{{ sum_amount|number_format }}</th>
        </tr>
        </thead>

        </tbody>
    </table>

    <a class="btn btn-primary btn-block mt-5" href="{% url 'new_repository' %}">افزودن مخزن</a>
{% endblock %}