{% extends 'base.html' %}
{% load static %}

{% block title %}
    ویرایش رکورد
{% endblock %}

{% block header_ref %}
    <script>
        $(document).ready(function () {
                $("#date").pDatepicker();
                $('#date').persianDatepicker({
                    observer: true,
                    format: 'YYYY/MM/DD',
                    altField: '.observer-example-alt',
                    initialValueType: 'persian',
                    calendar: {
                        persian: {
                            locale: 'en'
                        }
                    }
                });
            }
        )
    </script>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-success btn-block">ثبت</button>
    </form>
{% endblock %}