{% extends 'base.html' %}
{% load digit_filter %}

{% block title %}
    مخزن {{ repo.name }}
{% endblock %}

{% block content %}
    <div class="card bg-info text-center">
        <div class="card-body">
            <h4 class="card-title">{{ repo.name }}</h4>
            <p class="card-text">موجودی مخزن : {{ repo.amount|number_format }}</p>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>عنوان</th>
            <th>نوع تراکنش</th>
            <th>دسته بندی</th>
            <th>قیمت</th>
            <th>تاریخ</th>
            <th>عملیات</th>
        </tr>
        </thead>
        <tbody>

        {% for record in records %}
            <tr>
                <td>{{ record.title }}</td>
                <td>{{ record.get_record_type_display }}</td>
                <td>{{ record.category }}</td>
                <td>{{ record.price|number_format }}</td>
                <td>{{ record.date }}</td>
                <td>
                    <a class="btn btn-danger" href="{% url 'del_record' record.id %}">حذف</a>
                    <a class="btn btn-warning" href="{% url 'update_record' record.id %}">ویرایش</a>
                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>

    <a class="btn btn-primary btn-block" href="{% url 'add_record' repo.id %}?type=input">افزودن دریافتی</a>
    <a class="btn btn-primary btn-block" href="{% url 'add_record' repo.id %}?type=output">افزودن برداشتی</a>
    <hr>
    <a class="btn btn-primary btn-block" href="{% url 'list_categories' repo_id=repo.id %}">دسته بندی</a>
    <a class="btn btn-primary btn-block" href="{% url 'report' repo_id=repo.id %}">گزارش</a>
    <hr>
    <a class="btn btn-success btn-block" href="{% url 'list_repository' %}">بازگشت</a>
{% endblock %}