{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'jalali_date/css/persian-datepicker.min.css' %}">
    <script src="{% static "jquery-3.6.0.min.js" %}"></script>
    <script src="{% static 'jalali_date/js/persian-date.min.js' %}"></script>
    <script src="{% static 'jalali_date/js/persian-datepicker.min.js' %}"></script>
    {% block header_ref %}{% endblock %}
</head>


<body style="background-color: #9bc1e3">

<div class="container text-right mt-2 mb-5">

    <a class="btn btn-danger" href="{% url 'logout' %}">خروج</a>
    <a class="btn btn-primary" href="{% url 'change_password' %}">تغییر رمز</a>

    <a class="btn btn-success " href="{% url 'list_repository' %}">صحفه اصلی</a>

</div>


<div class="container mb-5 mt-5 bg-light rounded pt-3 pb-5">
    {% block content %}{% endblock %}
</div>

</body>

{% block footer_ref %}{% endblock %}

</html>