{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'jalali_date/css/persian-datepicker.min.css' %}">
    <script src="{% static "jquery-3.6.0.min.js" %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jalali_date/js/persian-date.min.js' %}"></script>
    <script src="{% static 'jalali_date/js/persian-datepicker.min.js' %}"></script>
    <script src="{% static 'modal/modal.js' %}"></script>
    {% block header_ref %}{% endblock %}

</head>


<body style="background-color: #9bc1e3">

<div class="container text-right mt-2 mb-5">
    <div>
        <p class="text-center">نام کاربری : {{ request.user.username }}</p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-right rounded">
        <a class="navbar-brand btn btn-danger" href="{% url 'logout' %}">خروج</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">پنل ادمین</a>
                    </li>
                {% endif %}

                {% url 'profile' as profile_url %}
                <li class="nav-item {% if request.path == profile_url %}active{% endif %}">
                    <a class="nav-link" href="{{ profile_url }}">حساب کابری</a>
                </li>

                {% url 'list_repository' as main_url %}
                <li class="nav-item {% if request.path == main_url %}active{% endif %}">
                    <a class="nav-link" href="{{ main_url }}">صحفه اصلی</a>
                </li>
            
            </ul>

        </div>

</div>


<div class="container mb-5 mt-5 bg-light rounded pt-3 pb-5">
    {% block content %}{% endblock %}
</div>

</body>

{% block footer_ref %}{% endblock %}

</html>